body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-image: url('images/pexels-content-pixie-1405717-2736499\ \(2\).jpg');
  background-position: center;
  background-attachment: fixed;

}

.todo-app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px 0 black;
  color: rgb(242, 214, 0)
}

.todo-form {
  display: flex;
  margin-bottom: 20px;
}

.todo-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.todo-form button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.task-text {
  flex-grow: 1;
  cursor: pointer;
  padding: 0 10px;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.edit-btn {
  padding: 5px 10px;
  background-color: #ecac3d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}